body{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:14px;
}

h3
{
	font-family:'Segoe UI Semibold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:14px;
}

.inputbox
{
	background-color:#e8e8e8;
	border:none;
	height: 20px;
	padding:20px;
	text-align: left;
}

.inputbox.link
{
	width:300px;
}

.inputbox.text
{
	width:600px;
}

.inputbox.search
{
	width:300px;
	margin-bottom:10px;
}

.searchBtn
{

	margin-bottom:10px;
}

.save
{

}

#main
{
	text-align:left;

}

.submitbox
{
	padding-top:10px;
}

.results
{
	text-align:left;
}

#resultItem
{
	padding-bottom:10px;
}
